.body-cadastro{
  overflow-y: hidden;
}

/*parte esquerda*/
.esquerda{
  width: 45%;
  height: 105vh;
  background-color: #2F2F2F;
  border-bottom-right-radius: 100%;
  float: left;
}

.pt_cima{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.refrao{
  text-align: center;
  font-size: 40px;
  color:#F6F6F6;
  font-weight: 700;
  word-spacing: 2px;
}

.imagem{
  width: 80%;  
  height: 80%;
}

/*Parte direita*/ 

.direita{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
}

.content-cad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.logo-cad{
  width: 230px;
  height: 50px;
  margin-bottom: 15px;
}

// estilazaçao formulario

.form-cad{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  input{
    width: 97.8%;
    height: 30px;
    padding: 5px 0 5px 10px;
    border-radius: 12px;
    outline: none;
    border: none;
    margin-top: 10px;
    font-family: $font;
  }

  input::selection{
    background-color: $primary-color;
  }

  label{
    font-family: $font;
    color: $text-color;
  }

  .dual-input, .nome-cad{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nome-input, .sobrenome-input, .nasc, .gender{
    width: 48%;
  }

  .gender{
    display: flex;
    flex-direction: column;
    select{
      width: 100%;
      height: 40px;
      margin-top: 10px;
      border-radius: 12px;
      padding-left: 5px;
      border: none;
      outline: none;
      font-family: $font;
    }
  }

  input[type=date]{
    padding-right: 5px;
  }

  .termos-cad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    input[type=checkbox]{
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
    }

    a{
      color: $primary-color;
    }

    a:hover{
      border-bottom: 1px solid $primary-color;
    }
  }

  .submit-cad{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-cad{
      width: 50%;
      height: 45px;
      background-color: $primary-color;
      font-size: 1.1rem;
      color: $secundary-color;
      font-weight: bold;
      cursor: pointer;
      padding: 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px){
  .esquerda{
    display: none;
  }

  .direita{
    width: 100%;
  }

  .content-cad{
    width: 80%;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .esquerda{
    display: none;
  }

  .direita{
    width: 100%;
  }

  .content-cad{
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .esquerda{
    display: none;
  }

  .direita{
    width: 100%;
  }

  .content-cad{
    width: 80%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px){
  .refrao{
    font-size: 30px;
  }

  .imagem{
    width: 90%;
    height: 70%;
  }

  .content-cad{
    width: 65%;
  }
}