// Transformando minha tela em horizontal

.body-dashboard{
  @include flex(row,none,none);
}

// Toda a estilização da sidebar

.sidebar{
  width: 15vw;
  height: 100vh;
  background-color: $secundary-color;
  border-radius: 0 60px 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 50px;
  height: 50px;
}

.content-sidebar{
  width: 100%;
  height: 90%;
  @include flex(column, space-between, center);
}

.links{
  width: 70%;
  height: 45%;
  @include flex (column, space-between, start);
}

.home, .investimento, .cofrinho, .controle, .calendario, .logout, .config{
  @include flex(row, flex-start, center);
  @include text-style($text-color, 1.1rem, 700);
  width: 100%;
  gap: 16px;
}

.home{
  @include text-style($primary-color, 1.1rem, 700);
  gap: 13px;
}

.icon{
  width: 35px;
  height: 35px;
}

.linha-divisoria{
  width: 70%;
  border-color: $primary-color;
}

.footer-sidebar{
  @include flex (column, space-between, start);
  height: 12%;
}

// Parte principal

.main-content{
  width: 80vw;
  height: 100vh;
  padding: 0 90px 0 90px;
}

.perfil{
  @include flex (row, flex-end, center);
  @include text-style($text-color, 1.1rem, 700);
  gap: 10px;
  margin-top: 15px;
}

// Parte dos gráficos

.graphics{
  height: 85%;
  margin-top: 30px;
  @include flex(column, space-between, none)
}

.graphics h1{
  @include text-style($primary-color, 2.3rem, 700)
}

// Renda, despesas, saldo

.superior{
  @include flex (row, space-between, none);
  width: 100%;
  height: 30%;
}

.renda, .despesas, .saldo{
  width: 32%;
  background-color: $secundary-color;
  border-radius: 50px;
  @include flex (column, center, flex-start);
  gap: 15px;
}

.renda, .despesas, .saldo{
  h2, p{
    margin-left: 40px;
  }

  h2{
    @include text-style($text-color, 1.8rem, 500);
  }

  span{
    @include text-style($primary-color, 3rem, 700);
  }
}

.valor{
  @include text-style($text-color, 3.2rem, 700);
}

.aumento{
  @include text-style($text-color, 1.1rem, 300);
}

// Atividades recentes, total gasto (grafico), bancos cadastrados

.inferior{
  @include flex (row, space-between, none);
  width: 100%;
  height: 55%;
}

.atv-recentes, .total-gasto, .bancos-cliente{
  width: 32%;
  background-color: $secundary-color;
  border-radius: 60px;
}

// Estilização atividades recentes

.atv-recentes{
  h2{
    @include text-style ($text-color, 1.8rem, 700)
  }

  @include flex(column, space-evenly, start);
  padding-left: 24px;
}

.gastos{
  width: 90%;
  height: 70%;
  gap: 20px;
  @include flex (column, space-evenly, normal);
}

.salario, .cinema, .gasolina, .supermercado{
  @include flex (row, space-between, center);

  span{
    @include text-style ($primary-color, 1rem, 700)
  }

  p{
    @include text-style ($text-color, 1rem, 700)
  }

  border-left: 1px solid $text-color;
  border-bottom: 1px solid $text-color;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.txt-gastos{
  h3{
    @include text-style ($text-color, 1.2rem, 700)
  }

  p{
    @include text-style ($text-color, 1rem, 400);
    margin-top: 10px;
  }
}

// Total gasto

.total-gasto{
  @include flex(column, center, normal);

  h2{
    @include text-style ($text-color, 1.8rem, 700);
    padding-left: 25px;
  }

  p{
    height: 80%;
    @include text-style ($text-color, 1.5rem, 700);
    @include flex(row, center, center);
  }
}

