.main-perfil{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;

  img{
    width: 150px;
    height: auto;
  }

  form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    hr{
      width: 60%;
      border: 1px solid $primary-color;
    }
  }
}

.input-perfil{
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 15px;

  label{
    @include text-style($text-color, 1.3rem, 600);
  }

  input{
    height: 40px;
    padding-left: 20px;
    border: 2px solid $primary-color;
    background-color: transparent;
    @include text-style($text-color, 1rem, 600);
    border-radius: 10px;
    font-family: $font;
  }
}

.btn-perfil{
  display: flex;
  flex-direction: row;
  gap: 30px;

  label{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-file{
  display: none;
}

.escolher-foto{
  width: 50%;
  border-radius: 10px;
  text-align: center;

  h2{
    @include text-style($text-color, 1.3rem, 600);
    margin-top: 20px;
  }
}

.perfil-foto{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  img{
    width: 100px;
    height: auto;
  }
}

.foto-escolha{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-perfil{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn-exclusao:hover{
  background-color: #f94144;
}