.body-termos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
  width: 100vw;
  height: 100vh;

}

.logo-termos{
  width: 15%;
  margin-top: 20px;
}

.txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;

  h1{
    color: $text-color;
    font-size: 2rem;
    margin-bottom: 50px;
  }

  p{
    color: $text-color;
    font-size: 1.1rem;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 15px;
  }

  p::-webkit-scrollbar {
    width: 8px;        
  }

  p::-webkit-scrollbar-track {
    background: $bg-color;        
  }
  
  p::-webkit-scrollbar-thumb {
    background-color: $primary-color;    
    border-radius: 20px;      
    border: 3px solid $primary-color;  
  }
}

.voltar-termo{
  button{
    border-radius: 12px;
    background-color: $primary-color;
    color: $secundary-color;
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    width: 220px;
    font-family: $font;
    font-size: 1rem;
    font-weight: bold;
  }
  margin-bottom: 20px;
}