/* Logo */
.logo-basilisk {
    font-style: bold;
    font-size: 35px;
    font-family: 'Roboto Slab', sans-serif;
    color: $primary-color; 
}
/* Etiquetas dentro do formulário */
.login-form label {
    color: white;
    font-size: 17px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    width: 60%;
    padding-bottom: 8px;
}

/* Inputs dentro do formulário */
.login-form input[type="email"],
.login-form input[type="password"] {
    height: 50%;
    background: #F6F6F6;
    border-radius: 13px;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    padding: 2px;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Container principal */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

/* Formulário */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex: 1; /* Ocupa o espaço disponível */
    // Nesse caso é melhor usar width varial msm ~ J
    width: 50%;
    height: 100vh;
}

/* Seção à esquerda */
.login-side {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    // flex: 1; /* Ocupa o espaço disponível */
    // Nesse caso é melhor usar width varial msm ~ J
    width: 50%;
}

/* Imagem na seção à esquerda */
.login-side-image {
    max-width: 700px; /* Tamanho maior para a imagem */
    margin-top: 20px;
    width: 100%; /* Usar 100% para preencher a largura da coluna */
    z-index: 2;
}


/* Frase na seção à esquerda */
.login-side-text {
    font-size: 40px; /* Tamanho maior para a frase */
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    color: #F6F6F6;
    margin-bottom: 5px; /* Espaçamento inferior para separar da imagem */
    z-index: 1;
}

/* Parte colorida da frase na seção à esquerda */
.login-side-text:last-child {
    color: #FFCB74;
}

/* Título do formulário */
.login-form h1 {
    font-size: 50px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    color: $primary-color; 
}

/* Estilos para o "Lembrar de mim" e "Esqueci minha senha" */
.login-form {
    display: flex;
    align-items: center;
    // width: 60%; /* Ajuste a largura conforme necessário */ 
}

.remember-forgot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.login-form label[for="lembrar"], .forgot-password {
    color: white;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
}

/* Estilos para a caixa de seleção "Lembrar de mim" */
#lembrar {
    width: 20px;
    height: 20px;
    background-color: #FFCB74;
    border-radius: 2px;
    margin-right: 10px; /* Espaçamento entre a caixa de seleção e o texto */
}


/* Estilos para "Esqueci minha senha" */
.forgot-password {
    text-decoration: underline;
}
.custom-button {
    background-color: #FFCB74;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 70px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
}

.simples{
    color: $primary-color;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.input-lembrar{
    width: 60%;
}

// deixar o label em cima do input
.input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.eclipse{
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

@media (max-width: 992px) {
    .login-side-image,
    .login-side-text {
        display: none;
    }
    
    .login-container {
        flex-direction: column;
        align-items: center;
    }
    
    .login-form {
        width: 80%; /* Ajuste a largura conforme necessário */
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .logo-basilisk {
        font-size: 20px; /* Ajuste o tamanho da logo */
        margin-bottom: 15px;
        
    }
    
    .remember-forgot {
        flex-direction: column; /* Alinhe os elementos verticalmente */
        align-items: center;
        margin-top: 20px; /* Espaçamento superior entre os elementos */
    }
    
      /* Ajustar espaçamento entre "Esqueci minha senha" e "Lembrar de mim" */
      .login-form label[for="lembrar"],
      .forgot-password {
          margin: 5px 0; /* Espaçamento vertical sem espaçamento horizontal */
          white-space: nowrap; /* Mantém o texto em uma única linha */
   
        }
    .custom-button {
        display: flex;
        align-items: center;
        justify-content: center; /* Centralizar horizontalmente o texto */
    }
   
    .eclipse{
        display: none;
    }
  
}
