@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=Karla:ital,wght@0,300;0,700;1,300&family=PT+Sans+Narrow:wght@400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@400;500&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,500;1,400&display=swap');
body{
    background-color: #111111;
}

*{
    text-decoration: none;
}

a{
    color: #F6F6F6;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    width: 285px;
    height: 15px;
    font-size: 14pt;
}

.cabeca{
    max-width: 1550px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 0px;
}

.logo{
    margin-left: 2%;
}

.pri_list{
    float: left;
    list-style-type: none;
    margin-left: 36%;
}

.pri_list2{
    float: left;
    list-style-type: none;
    margin-left: 7%;
}

.pri_list3{
    float: left;
    list-style-type: none;
    margin-left: 7%;
}

.coluna3{
    padding-left: 85px;
    margin-right: 0px;
}

.link-1{
    float: left;
    list-style-type: none;
    margin-left: 16%;
}
.cadastre{
    background-color: transparent;
    border: 2px solid #FFCB74;
    border-radius: 24px;
    margin-left: 17%;
    padding: 8px 14px;
    padding-left: 22px;
    width: 180px;
    text-transform: uppercase;
    margin-top: -10px;
}
