@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto Slab", serif;
  vertical-align: baseline;
}

body {
  background-color: #111111;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
}

.nav-home {
  padding-top: 40px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.links ul {
  width: 285px;
  height: 15px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links ul li a {
  font-size: 18px;
  font-weight: 500;
}

.blog, .contato {
  color: #F6F6F6;
}

.select-home {
  color: #FFCB74;
}

.btn-acess a, .btn-acess button a {
  color: #F6F6F6;
  font-size: 18px;
  font-weight: 500;
}
.btn-acess button {
  background-color: transparent;
  border: 2px solid #FFCB74;
  border-radius: 22px;
  margin-left: 65px;
  padding: 10px 14px;
  width: 180px;
  text-transform: uppercase;
}

.main-home {
  height: 580px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.txt-main h1 {
  color: #F6F6F6;
  font-size: 64px;
  font-weight: 700;
  line-height: 84px;
}
.txt-main h1 span, .txt-main p span {
  color: #FFCB74;
}
.txt-main p {
  color: #F6F6F6;
  font-size: 18px;
  font-weight: 400;
  width: 545px;
  margin-top: 25px;
  line-height: 24px;
}

.coin img {
  width: 400px;
}

.about {
  height: 620px;
  background-color: #2F2F2F;
  gap: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.txt-about {
  width: 595px;
}

.txt-about h2 {
  color: #F6F6F6;
  font-size: 40px;
  font-weight: 700;
}
.txt-about h2 span {
  color: #FFCB74;
}
.txt-about p {
  padding-top: 22px;
  line-height: 24px;
  color: #F6F6F6;
  font-size: 18px;
  font-weight: 400;
}

.icons {
  width: 515px;
  height: 425px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}

.icons-sup, .icons-inf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: 60px;
}

.wallet img, .calendar img, .investment img, .piggy img {
  width: 50px;
}
.wallet h2, .calendar h2, .investment h2, .piggy h2 {
  color: #F6F6F6;
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0;
  font-weight: 700;
}
.wallet p, .calendar p, .investment p, .piggy p {
  color: #F6F6F6;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.banks {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banks h1 {
  color: #F6F6F6;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 48px;
}

.icons-banks {
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-home {
  height: 340px;
  background-color: #2F2F2F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  width: 60%;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
.footer-left img {
  width: 185px;
  margin-bottom: 36px;
}

.links-footer {
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}

.services, .about-us, .help {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 16px;
}
.services h2, .about-us h2, .help h2 {
  color: #F6F6F6;
  font-size: 20px;
  font-weight: 600;
}
.services a, .about-us a, .help a {
  color: #F6F6F6;
  font-size: 15px;
  font-weight: none;
}

.footer-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}

.newsletter h2 {
  color: #F6F6F6;
  font-size: 25px;
}
.newsletter form input[type=email] {
  color: #FFCB74;
  font-size: 18px;
  font-weight: none;
  border: 1px solid #FFCB74;
  background-color: transparent;
  width: 400px;
  height: 50px;
  padding-left: 10px;
  margin: 0;
  transition: 0.2s ease-in-out;
}
.newsletter .newsletter form input[type=email]::placeholder {
  color: #F6F6F6;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
}
.newsletter form input[type=email]:focus {
  outline: none;
  background-color: #111111;
}
.newsletter form input[type=submit] {
  border: 1px solid #FFCB74;
  background-color: transparent;
  width: 150px;
  height: 54px;
  padding-left: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  color: #FFCB74;
  font-size: 18px;
  font-weight: none;
}
.newsletter form input[type=submit]:hover {
  background-color: #111111;
}

.socials ul {
  display: flex;
  gap: 15px;
  margin-right: 80px;
}
.socials ul li a img {
  width: 30px;
  height: 30px;
}

.developed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.developed p {
  color: #F6F6F6;
  font-size: normal;
  font-weight: 600;
}

::-webkit-scrollbar {
  background-color: black;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #F6F6F6;
  border-radius: 5px;
}

::selection {
  background-color: black;
}

.body-contato {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbarbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  font-family: "Roboto Slab", serif;
  color: #f6f6f6;
}

.navbar a {
  text-decoration: none;
  color: #f6f6f6;
  margin: 10px 10px;
}

.login-cadastro {
  display: flex;
  align-items: center;
  color: #f6f6f6;
  gap: 20px;
}

.login-cadastro a:nth-child(1) {
  color: #f6f6f6;
  font-size: 1.05rem;
}

.cadastrobs {
  background-color: transparent;
  border: 2px solid #FFCB74;
  border-radius: 24px;
  width: 160px;
  height: 45px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.05rem;
}

.faleconosco {
  color: #f6f6f6;
}

.faleconosco h2 {
  text-align: center;
  margin-bottom: 30px;
}

.faleconosco h2 {
  color: #F6F6F6;
  font-size: 2.6rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.campo label {
  color: #f6f6f6;
  font-size: 15px;
  padding: 10px 0;
}

.campo-input,
.campo-textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: left;
  font-family: "Roboto Slab", serif;
}

.campo-input::selection,
.campo-textarea::selection {
  background-color: #FFCB74;
}

.campo-textarea {
  height: 200px;
}

.submit-contato {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: #FFCB74;
  color: #2F2F2F;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

.formulariocontato {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  padding: 0 40px 0 30px;
  height: 130px;
}

.redes-sociais {
  display: flex;
  gap: 15px;
}

.redes-sociais a {
  width: 30px;
  height: 30px;
}

.redes-sociais img {
  width: 100%;
  height: 100%;
}

.mascote img {
  width: 90px;
  height: 90px;
  padding-bottom: 30px;
}

/* Logo */
.logo-basilisk {
  font-style: bold;
  font-size: 35px;
  font-family: "Roboto Slab", sans-serif;
  color: #FFCB74;
}

/* Etiquetas dentro do formulário */
.login-form label {
  color: white;
  font-size: 17px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  width: 60%;
  padding-bottom: 8px;
}

/* Inputs dentro do formulário */
.login-form input[type=email],
.login-form input[type=password] {
  height: 50%;
  background: #F6F6F6;
  border-radius: 13px;
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  padding: 2px;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Container principal */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

/* Formulário */
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

/* Seção à esquerda */
.login-side {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 50%;
}

/* Imagem na seção à esquerda */
.login-side-image {
  max-width: 850px; /* Tamanho maior para a imagem */
  margin-top: 20px;
  width: 100%; /* Usar 100% para preencher a largura da coluna */
  z-index: 2;
}

/* Frase na seção à esquerda */
.login-side-text {
  font-size: 40px; /* Tamanho maior para a frase */
  font-family: "Roboto Slab", sans-serif;
  font-weight: 600;
  color: #F6F6F6;
  margin-bottom: 5px; /* Espaçamento inferior para separar da imagem */
  z-index: 1;
}

/* Parte colorida da frase na seção à esquerda */
.login-side-text:last-child {
  color: #FFCB74;
}

/* Título do formulário */
.login-form h1 {
  font-size: 50px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  color: #FFCB74;
}

/* Estilos para o "Lembrar de mim" e "Esqueci minha senha" */
.login-form {
  display: flex;
  align-items: center;
}

.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.login-form label[for=lembrar], .forgot-password {
  color: white;
  margin-bottom: 0px;
  font-size: 15px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
}

/* Estilos para a caixa de seleção "Lembrar de mim" */
#lembrar {
  width: 20px;
  height: 20px;
  background-color: #FFCB74;
  border-radius: 2px;
  margin-right: 10px; /* Espaçamento entre a caixa de seleção e o texto */
}

/* Estilos para "Esqueci minha senha" */
.forgot-password {
  text-decoration: underline;
}

.custom-button {
  background-color: #FFCB74;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 70px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 40%;
}

.simples {
  color: #FFCB74;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
}

.input-lembrar {
  width: 60%;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eclipse {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

@media (max-width: 992px) {
  .login-side-image,
  .login-side-text {
    display: none;
  }
  .login-container {
    flex-direction: column;
    align-items: center;
  }
  .login-form {
    width: 80%; /* Ajuste a largura conforme necessário */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .logo-basilisk {
    font-size: 20px; /* Ajuste o tamanho da logo */
    margin-bottom: 15px;
  }
  .remember-forgot {
    flex-direction: column; /* Alinhe os elementos verticalmente */
    align-items: center;
    margin-top: 20px; /* Espaçamento superior entre os elementos */
  }
  /* Ajustar espaçamento entre "Esqueci minha senha" e "Lembrar de mim" */
  .login-form label[for=lembrar],
  .forgot-password {
    margin: 5px 0; /* Espaçamento vertical sem espaçamento horizontal */
    white-space: nowrap; /* Mantém o texto em uma única linha */
  }
  .custom-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar horizontalmente o texto */
  }
  .eclipse {
    display: none;
  }
}
.body-cadastro {
  overflow-y: hidden;
}

/*parte esquerda*/
.esquerda {
  width: 45%;
  height: 105vh;
  background-color: #2F2F2F;
  border-bottom-right-radius: 100%;
  float: left;
}

.pt_cima {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.refrao {
  text-align: center;
  font-size: 40px;
  color: #F6F6F6;
  font-weight: 700;
  word-spacing: 2px;
}

.imagem {
  width: 80%;
  height: 80%;
}

/*Parte direita*/
.direita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
}

.content-cad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.logo-cad {
  width: 230px;
  height: 50px;
  margin-bottom: 15px;
}

.form-cad {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.form-cad .nome-cad {
  width: 100%;
}
.form-cad input {
  width: 97.8%;
  height: 30px;
  padding: 5px 0 5px 10px;
  border-radius: 12px;
  outline: none;
  border: none;
  margin-top: 10px;
  font-family: "Roboto Slab", serif;
}
.form-cad input::selection {
  background-color: #FFCB74;
}
.form-cad label {
  font-family: "Roboto Slab", serif;
  color: #F6F6F6;
}
.form-cad .dual-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-cad .nasc, .form-cad .gender {
  width: 45%;
}
.form-cad .gender {
  display: flex;
  flex-direction: column;
}
.form-cad .gender select {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 12px;
  padding-left: 5px;
  border: none;
  outline: none;
  font-family: "Roboto Slab", serif;
}
.form-cad input[type=date] {
  padding-right: 5px;
}
.form-cad .termos-cad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.form-cad .termos-cad input[type=checkbox] {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
.form-cad .termos-cad a {
  color: #FFCB74;
}
.form-cad .termos-cad a:hover {
  border-bottom: 1px solid #FFCB74;
}
.form-cad .submit-cad {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-cad .submit-cad .btn-cad {
  width: 50%;
  height: 45px;
  background-color: #FFCB74;
  font-size: 1.1rem;
  color: #2F2F2F;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

.body-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}

.sidebar {
  width: 15vw;
  height: 100vh;
  background-color: #2F2F2F;
  border-radius: 0 60px 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-dashboard {
  width: 50px;
  height: 50px;
}

.content-sidebar {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.links-dashboard {
  width: 70%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.home, .investimento, .cofrinho, .controle, .calendario, .logout, .config {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #F6F6F6;
  font-size: 1.1rem;
  font-weight: 700;
  width: 100%;
  gap: 16px;
}

.home {
  color: #FFCB74;
  font-size: 1.1rem;
  font-weight: 700;
  gap: 13px;
}

.icon {
  width: 35px;
  height: 35px;
}

.linha-divisoria {
  width: 70%;
  border-color: #FFCB74;
}

.footer-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 12%;
}

.main-content {
  width: 80vw;
  height: 100vh;
  padding: 0 90px 0 90px;
}

.perfil {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #F6F6F6;
  font-size: 1.1rem;
  font-weight: 700;
  gap: 10px;
  margin-top: 15px;
}

.graphics {
  height: 85%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
}

.graphics h1 {
  color: #FFCB74;
  font-size: 2.3rem;
  font-weight: 700;
}

.superior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  width: 100%;
  height: 30%;
}

.renda, .despesas, .saldo {
  width: 32%;
  background-color: #2F2F2F;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.renda h2, .renda p, .despesas h2, .despesas p, .saldo h2, .saldo p {
  margin-left: 40px;
}
.renda h2, .despesas h2, .saldo h2 {
  color: #F6F6F6;
  font-size: 1.8rem;
  font-weight: 500;
}
.renda span, .despesas span, .saldo span {
  color: #FFCB74;
  font-size: 3rem;
  font-weight: 700;
}

.valor {
  color: #F6F6F6;
  font-size: 3.2rem;
  font-weight: 700;
}

.aumento {
  color: #F6F6F6;
  font-size: 1.1rem;
  font-weight: 300;
}

.inferior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  width: 100%;
  height: 55%;
}

.atv-recentes, .total-gasto, .bancos-cliente {
  width: 32%;
  background-color: #2F2F2F;
  border-radius: 60px;
}

.atv-recentes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding-left: 24px;
}
.atv-recentes h2 {
  color: #F6F6F6;
  font-size: 1.8rem;
  font-weight: 700;
}

.gastos {
  width: 90%;
  height: 70%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
}

.salario, .cinema, .gasolina, .supermercado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.salario span, .cinema span, .gasolina span, .supermercado span {
  color: #FFCB74;
  font-size: 1rem;
  font-weight: 700;
}
.salario p, .cinema p, .gasolina p, .supermercado p {
  color: #F6F6F6;
  font-size: 1rem;
  font-weight: 700;
}

.txt-gastos h3 {
  color: #F6F6F6;
  font-size: 1.2rem;
  font-weight: 700;
}
.txt-gastos p {
  color: #F6F6F6;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
}

.total-gasto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}
.total-gasto h2 {
  color: #F6F6F6;
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 25px;
}
.total-gasto p {
  height: 80%;
  color: #F6F6F6;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.body-termos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
  width: 100vw;
  height: 100vh;
}

.logo-termos {
  width: 15%;
  margin-top: 20px;
}

.txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
}
.txt h1 {
  color: #F6F6F6;
  font-size: 2rem;
  margin-bottom: 50px;
}
.txt p {
  color: #F6F6F6;
  font-size: 1.1rem;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 15px;
}
.txt p::-webkit-scrollbar {
  width: 8px;
}
.txt p::-webkit-scrollbar-track {
  background: #111111;
}
.txt p::-webkit-scrollbar-thumb {
  background-color: #FFCB74;
  border-radius: 20px;
  border: 3px solid #FFCB74;
}

.voltar-termo {
  margin-bottom: 20px;
}
.voltar-termo button {
  border-radius: 12px;
  background-color: #FFCB74;
  color: #2F2F2F;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 220px;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: bold;
}

.body-page {
  overflow-x: hidden;
}

.select-page {
  color: #FFCB74;
}

.home-page {
  color: #F6F6F6;
}

.content-page {
  width: 100vw;
  display: flex;
  margin-top: 40px;
  justify-content: flex-end;
  gap: 20px;
}

.main-page {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main-page .bg-img-page {
  background-color: white;
  width: 80%;
  height: 350px;
  border-radius: 10px 10px 0 0;
  background-image: url("../assets/Ilustrações/blog-img-3.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main-page .texto-blog {
  width: 80%;
  height: 550px;
  background-color: #2F2F2F;
}
.main-page .title-blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.main-page .title-blog p {
  color: #F6F6F6;
  margin-top: 15px;
}
.main-page .title-blog h1, .main-page .title-blog h2 {
  color: #FFCB74;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}
.main-page .title-blog h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.main-page .autor {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-page .autor .perfil-autor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 20px;
}
.main-page .autor .perfil-autor p {
  margin: 0;
}
.main-page .autor .sociais-page {
  margin-right: 20px;
  display: flex;
  gap: 10px;
}
.main-page .autor .sociais-page a img {
  width: 25px;
  height: 25px;
}
.main-page hr {
  width: 15%;
  border: 1px solid #F6F6F6;
  opacity: 0.2;
}
.main-page article {
  width: 100%;
  background-color: #2F2F2F;
}

.aside-page {
  width: 25%;
  height: 100px;
  background-color: #2F2F2F;
  margin-right: 25px;
  border-radius: 10px 10px 0 0;
  padding-top: 20px;
}
.aside-page h2 {
  color: #FFCB74;
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
}
.aside-page hr {
  width: 30%;
  border: 1px solid #F6F6F6;
  opacity: 0.2;
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
